<div class="container">
  <h1>Inventory</h1>
  
<!--
<form (ngSubmit)="updateInventory()">
  <div class="form-horizontal">
-->

  <section class="search input-group mb-3">
    <label class="search" class="input-group-addon" for="search">Search</label>
    <input
      id="search"
      type="text"
      class="form-control"
      [(ngModel)]="query"
      (keyup)="searchInventory()" />
    <span class="input-group-btn">
      <button
        class="btn btn-danger"
        (click)="resetQuery()"
        [disabled]="!query">&times;</button>
    </span>
  </section>
          
<!-- No search results -->
    <p *ngIf="fs.noSearchResults(filteredinventory, query)" class="alert alert-warning">
      No items found for <em class="text-danger">{{query}}</em>, sorry!
    </p>

<!-- Events listing -->
    <section style="margin: 2% 10%;" class="list-group">
      <a
        *ngFor="let display of filteredinventory"
        [routerLink]="['/inventory', display.item_name]"
        class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1" [innerHTML]="display.item_name"></h4>
          <small>{{ display.product_description }} {{ display.quantity }} {{ display.cost }}</small>
        </div>
      </a>
    </section>           


</div>